body {
    max-width: 40em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: inherit;    /* override for bootstrap-reboot */
}

main, header {
    padding: 0 0.5em;
}

header {
    text-align: end;
}

header button {
    border: 0;
    font-size: 85%;
    margin: 0;
    padding: 0 0.5em;
    background-color: #fff;
}

button {
    padding: 0.3em;
    border: 1px solid #d8d8d8;
    outline: none;
    margin: 0.5em 0;
    background-color: #f8f8f8;
    color: #777;
}

dd {
    margin: 0.5em 2em;
    word-break: break-all;
    font-size: 85%;
}

blockquote {
    margin-left: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0.1em 0;
}

ul li button {
    width: 100%;
    text-align: start;
    padding: 0.75em;
    margin: 0;
}

p.warning {
    border: 1px solid orange;
    padding: 1em;
    width: 100%;
    color: orange;
}

p.warning::before {
    content: "⚠️"
}

p.success {
    border: 1px solid darkgreen;
    padding: 1em;
    width: 100%;
    color: darkgreen;
}

p.success::before {
    content: "✔️"
}

summary {
    margin-bottom: 1em;
}

pre {
    background-color: #eee;
    padding: 0.5em;
    word-break: break-all; 
    white-space: pre-wrap;
    font-size: 85%;
}

footer {
    margin-top: 2em;
    font-size: 75%;
    text-align: center;
}
