@charset "UTF-8";
:root {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #ddd;
  --accent-color: #333;
  --accent-bg-color: #f8f8f8;
  --warning-color: darkorange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --border-color: #555;
    --accent-color: #ccc;
    --accent-bg-color: #444;
    --warning-color: darkorange;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.1em;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 50em;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--accent-color);
}

select, input, button {
  font-size: inherit;
}

main, header {
  padding: 0 0.5em;
}

header {
  text-align: end;
}

header select, header button {
  border: 0;
  color: var(--color);
  background-color: var(--bg-color);
}

main button {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  margin: 0.5em 0;
  background-color: var(--accent-bg-color);
  color: var(--accent-color);
  cursor: pointer;
}

dd {
  margin: 0.5em 2em;
  word-break: break-all;
}

blockquote {
  padding: 0.75em;
  margin: 0.5em 0;
  border-left: 2px solid var(--accent-color);
  background-color: var(--accent-bg-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0.1em 0;
}

ul li button {
  width: 100%;
  text-align: start;
  padding: 0.75em;
  margin: 0;
}

ul li button:focus {
  /* restore default outline for last chosen IdP on Firefox */
  outline: auto;
}

p.warning {
  padding: 0.75em;
  color: var(--warning-color);
  width: 100%;
}

dt {
  font-weight: bold;
}

p.warning::before {
  content: "⚠️ ";
}

summary {
  margin-bottom: 1em;
  cursor: pointer;
}

code, pre {
  font-family: monospace;
  font-size: 1rem;
}

pre {
  padding: 0.5em;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: var(--accent-bg-color);
}

footer {
  margin-top: 2em;
  font-size: 75%;
  text-align: center;
}

form#searchBox {
  margin-bottom: 0.5em;
  display: none;
}

p#noResults {
  display: none;
  text-align: center;
}

form#searchBox input {
  border: 1px solid var(--border-color);
  width: 100%;
  text-align: start;
  padding: 0.75em;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
