<?php

return [
    // override the default SAML SP entityID
    // DEFAULT: auto detect
    //'entityId' => 'https://sp.example.org/saml',

    // override the location the SAML SP can be found at
    // DEFAULT: "/php-saml-sp"
    //'spPath' => '/php-saml-sp',

    // force the use of <EncryptedAssertion> by the IdP(s)
    // DEFAULT: false
    //'requireEncryption' => false,

    // the default language of the UI
    // DEFAULT: en-US
    //'defaultLanguage' => 'en-US',

    // the supported UI languages
    // DEFAULT: ['en-US']
    //'enabledLanguages' => ['en-US', 'nl-NL'],

    // SAML discovery service implementing "Identity Provider Discovery Service
    // Protocol and Profile"
    // DEFAULT: built-in minimalist "discovery" if > 1 IdP is available
    //'discoUrl' => 'https://discovery.example.org/',

    // list of IdP entityIDs that are allowed for authentication to this SP
    // their metadata MUST be provided in config/metadata as XML file(s)
    'idpList' => [
        //'https://x509idp.moonshot.utr.surfcloud.nl/metadata',
    ],
];
